/* 	Matharaarachchi M.A.N.C
	IT19992358
	IWI Final Project
	SLIIT Kurunegala Center */

@charset "utf-8";
/*page layout*/
header {
    background-color: white;
	margin:30px 30px 5px 30px;
    color: white;
}

.nav1 {
    float: left;
	margin:10px 30px 10px 30px;
    width: 15%;
    height: 500px; /* only for demonstration, should be removed */
    background: #ccf;
    padding: 20px;
}

.aside1 {
    float: right;
	margin:10px 30px 10px 30px;
    width: 15%;
    height: 500px; /* only for demonstration, should be removed */
    background: #ccf;
    padding: 20px;
}

.article1{
	
	
	float:left;
	margin:10px 30px 10px 30px;
	width:50%;

	
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer{
	background-color: gray;
	margin:10px 30px 5px 30px;
	padding:0px;
	border-top:solid black;
	border-bottom:solid black;
}

.nav2 {
    float: left;
	margin:10px 30px 10px 30px;
    width: 20%;
    background: gray;
    padding: 10px;
}

.aside2 {
    float: right;
	margin:10px 30px 10px 30px;
    width: 20%;
    background: gray;
    padding: 10px;
}

.article2{
	
	
	float:left;
	background:white;
	width:20%;
	padding: 10px;
	background:gray;
	margin:10px 30px 10px 30px;
	
}
.article3{
	
	
	float:left;
	background:white;
	width:20%;
	padding: 10px;
	background:gray;
	margin:10px 30px 10px 30px;
	
}
.aside4 {
    float: right;
	margin:10px 30px 10px 30px;
    width: 20%;
    padding: 10px;
}

.article5{
	
	
	float:left;
	width:20%;
	padding-left: 30px;
	padding-top:10px;
	padding-bottom:10px;
	margin:10px 30px 10px 30px;
	
}
.article6{
	
	
	float:left;
	width:20%;
	padding: 10px;
	margin:10px 30px 10px 30px;
	
}
